.wrapper {
  height: 100vh;
  display: grid;
  place-items: center;
}


.inputLogin::placeholder {
  color: #C7C7C7;
}

@media all and (max-width:767px) {
  .heroLogin {
    width: 50%;
  }
}


@media all and (min-width:768px) {
  .right {
    background: #38394E;
  }

  .left {
    background: #fff;
    display: grid;
    place-items: center;
    padding: 20px 0;
  }

  .heroLogin {
    width: 75%;
  }
}